<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
    <!--변수-->
    <property name="LOG_PATH" value="./logs" />
    <property name="LOG_PATH_NAME" value="turkey" />
    <property name="LOG_PATTERN" value="[${LOG_PATH_NAME}] %d{yyyy-MM-dd HH:mm:ss} %-5p --- [%thread] %logger[%method:%line] - %msg %n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${LOG_PATH_NAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>%d{yyyyMMdd}_${LOG_PATH_NAME}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- jpa 로그 옵션 -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    <!--<logger name="org.hibernate.type" level="TRACE" />-->
    <!--<logger name="org.hibernate.stat" level="DEBUG" />-->
    <logger name="org.hibernate.SQL_SLOW" level="TRACE" />

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <springProfile name="prod">
            <appender-ref ref="FILE" />
        </springProfile>
    </root>
</configuration>
