.management-contents {
    /*width: 60%;*/
    /*margin: 56px auto;*/ margin: 0 auto; width: 80%;
}
.grid-wrap {
    width: 100%;
    height: 700px;
    margin: 28px auto;
}
.management-contents .status-option {
    display: flex; justify-content: center;
    /*margin: 4px;*/
    font-size: 1em;
}
.management-contents .status-option li {
    cursor: pointer;
    /*padding: 8px; */ padding: .5em 1em; margin: 0 1em; border-radius:.25em; font-size: 1.0625em;
}
#route-contents .management-contents .status-option li.selected {background: #eee; border: 1px solid #eee; color: #000 !important;  }