/* common */
.form-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 800px;
    margin: 0 auto;
}
.input-box {
    display: flex;
    margin: 12px 0;
    padding: 12px 0;
    border-bottom: 1px solid rgba(93, 97, 105, 0.38);
}
.input-box .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bolder;
    padding: 0 12px;
}

/* 카테고리 선택 */
.input-box.category {
    display: flex;
    justify-content: space-between;
}
.input-box.category .title {
    width: 80px;
}
.input-box.category .inner-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.input-box.category .inner-input .input {
    width: 120px;
    margin: 0 12px;
}
.input-box.category .inner-input .input input {
    color: #d30505;
}

/* 텍스트 입력 */
.input-box input,textarea {
    border: 1px solid rgba(93, 97, 105, 0.38);
}
.input-box input[disabled],textarea[disabled] {
    background-color: #00000015;
}
.input-box input,textarea:focus {
    outline: none;
}
.input-box.text {
    flex-wrap: wrap;
}
.input-box.text .title {
    width: 80px;
}
.input-box.text .input {
    flex: 8;
}
.input-box.text .input input {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
}
.input-box .title.essential:after {
    content: "*";
    color: var(--main-bg-color);
    font-size: 1.4em;
}

/* 내용 입력 */
.input-box.contents-box {
    display: flex;
    flex-direction: column;
}
.input-box.contents-box .title {
    margin-bottom: 24px;
}
.input-box.contents-box .input {
    width: 100%;
}
.input-box.contents-box .input textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    text-align: start;
    border-radius: 12px;
}

/* 약간동의 */
.agree {
    display: flex;
    justify-content: center;
}
.agree input {
    margin: 0 12px;
}

/* 에러메세지 */
.error-box {
    width: 100%;
    font-size: 0.8em;
    color: red;
    margin: 12px;
}
.input-box.text .error-box {
    display: flex;
    justify-content: space-between;
}
.input-box.text .error-box .error-msg {
    flex: 1;
}
/*.contents-box .error-box {*/
/*    text-align: start;*/
/*}*/

/* 문의글 관리 */
.selected-solution {
    width: 100%;
    text-align: start;
    margin: 0 12px;
}